blinker 
Brotli 
certifi 
cffi 
charset-normalizer 
click 
colorama 
contourpy 
cycler 
dash 
dash-bootstrap-components 
dash_mantine_components 
emoji 
faiss-cpu==1.8.0
Flask 
fonttools 
gensim 
h2 
hpack
hyperframe 
idna 
importlib_metadata 
itsdangerous 
jaro-winkler
jarowinkler 
Jinja2 
joblib 
kiwisolver 
MarkupSafe 
matplotlib
munkres==1.1.4
nest_asyncio 
nltk==3.9.1
numpy 
packaging 
pandas 
pillow 
plotly 
pycparser 
pyparsing 
PySocks 
python-dateutil 
python-dotenv 
pytz 
rapidfuzz 
regex==2024.7.24
requests 
retrying 
scikit-learn 
scipy 
setuptools
six 
smart_open 
tenacity 
threadpoolctl 
tornado 
tqdm 
typing_extensions 
tzdata 
urllib3 
Werkzeug 
wheel
wrapt 
zipp 
zstandard
